.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background: linear-gradient(135deg, #121313, #5cbdee);
  position: relative;
  overflow: hidden;
}

.card-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle at 50% 50%, rgba(255,255,255,0.2), rgba(0,0,0,0));
  animation: wave 8s linear infinite;
}

@keyframes wave {
  0% { transform: translateX(0) translateY(0); }
  100% { transform: translateX(-20%) translateY(-10%); }
}


.card-wrapper {
  display: flex;
  width: 100%;
}


.card-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  transition: width 1.0s ease;
}

.card-list.shrink {
  width: calc(100% - 400px); 
  overflow: hidden;
  align-items: center;
}

.card {
  width: 250px;
  height: 300px;
  padding: 30px;
  border: 1px solid #5dade2;
  border-radius: 15px;
  background-color: #5dade2;
  cursor: pointer;
  transition: transform 0.8s ease, box-shadow 0.8s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  border: 2px solid transparent;
  background: linear-gradient(#5dade2, rgb(18, 17, 17)) padding-box, linear-gradient(90deg, #5DADE2, #A569BD) border-box;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  transform: rotate(-5deg) scale(1.2) skew(1deg, 1deg);
  box-shadow: 0 10px 35px rgba(93, 173, 226), 0 0 10px rgba(93, 173, 226, 0.5);
  border: 2px solid transparent;
  background: linear-gradient(rgb(17, 17, 17), #5dade2) padding-box, linear-gradient(45deg, #85C1E9, #BB8FCE) border-box;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.card:hover::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(93, 173, 226, 0.1);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: pulse 1.2s infinite;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0;
  }
}

.card-image {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
}

.card-content {
  text-align: center;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-event {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.card-expanded {
  width: 400px;
  height: 80%;
  padding: 20px;
  background-color: #5dade2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: width 1.0s ease, transform 0.5s ease;
  position: relative;
  border-left: 5px solid transparent;
  border-image: linear-gradient(90deg, #5dade2, #85c1e9) 1;
  animation: glowing 5s infinite alternate;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 10px #151516, 0 0 20px #5dade2;
  }
  100% {
    box-shadow: 0 0 20px #0e0e0e, 0 0 30px #85c1e9;
  }
}




.card-image-large {
  width: 80%;
  height: 300px;
  object-fit: contain;
  border-radius: 10px;
}

.card-summary {
  margin-top: 15px;
  font-size: 16px;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.card-link-large {
  margin-top: 10px;
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
}
